@charset "utf-8";
/* CSS Document */
.navbar-custom { 
    background-color: #112D32; 
} 
.navbar-nav a {
    font-family: lato black;
    font-size: large;
    color: #FFFFFF;
}
body {
    background-image: url(../images/image1.jpg);
	width: 100%;
	height: 100%;
	max-width: 100%;
    overflow-x: hidden;
	background-size: cover;
}

.title {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-image: url("../images/banner1.jpg");	
	font-family: Lato;
	color: white;
}

.helptitle {
	font-family: Lato Black;
	color: white;
}
.lato {
    font-family: Lato;
    color: white;
    text-align: center;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
h2 {
	font-family: Lato Black;
	color: white;	
	text-align: center;
}

.bg-cs1 {
    background-image: url(../images/image1.jpg);
    border-color: #FFFFFF;
    border-width: 46px;
}

.bg-cs2 {
    background-image: url(../images/image3.jpg);
}

.footer-st {
    background-color: #112D32;
	width: 100%;
	height: 150px;
}

h3 {
	font-family: Lato Black;
	color: white;	
}

.lato2 {
	font-family: Lato Black;
	color: white;	
}
.bodyabout1 {
    background-image: url(../images/mission4.jpg);
}

.aboutreborn {
	background-color: #112D32;
	font-family: lato black;
	text-align: center;
	color: white;
}
.backblue {
	background-color: #112D32;
	height: 475px
}

.aboutim {
    background-image: url("../images/hq.png");
    padding-top: 16%;
    background-size: cover;
	height: 475px;
}
.mainfooter{
	font-style: lato;
	color: white;
	align-content: center;
	align-items: center;
	text-align: center;
}
.footerreborneu{
	background-color: #60C4B8;
	align-content: center;
	text-align: center;
	color: #112D32;
	font-family: Lato Black;
}
.lato {
	font-family: lato;
	color: white;
}
.contactinfo {
	font-family: Lato;
	color: white;
	text-align: center;
}

.contacttitle {
		font-family: Lato Black;
	color: white;
	text-align: center;
	
}
.texthome {
	width: 300;
	height: 400;
}
.btn-home {
    width: 170px;
    font-family: lato black;
    background-color: #112D32;
    border-color: #000000;
}

.logotext {
    font-family: lato black;
    color: #FFFFFF;
    font-size: 47px;
}
.homep {
    font-family: Lato;
    color: white;
    text-align: center;
    font-size: 20px;
}
.site-content {
  flex: 1;
}
.latotextimage {
    font-family: Lato;
    color: white;
    text-align: center;
    font-size: 20px;
    background-image: url(../images/image1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 0%;
    background-size: cover;
    height: 300px;
    vertical-align: middle;
    margin-top: -10px;
    padding-top: 121px;
	
}
.backblue2 {
		background-color: #112D32;	
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-body {
	font-family: Lato;
    color: white;
    text-align: center;
	background-color: #4f4a41;
}
.list-group-item {
	font-family: Lato;
    color: white;
    text-align: center;
	background-color: #4f4a41;
}
h2 {
	font-family: Lato Black;
	color: white;	
	text-align: center;
}
 
.info {
    font-family: Lato;
    color: black;
    text-align: center;
    background-size: cover;
    height: 194px;
    padding-top: 80px;
    background-image: url(../images/norway-panorama.jpg);
    margin-top: -10px;
}

.bg-cs1 {
    background-image: url(../images/image1.jpg);
    border-color: #FFFFFF;
    border-width: 46px;
    background-position: 0% 0%;
}

.bg-cs2 {
    background-image: url(../images/image3.jpg);
}

.footer-st {
    background-color: #112D32;
	width: 100%;
	height: 150px;
}

h3 {
	font-family: Lato Black;
	color: white;	
}

.lato2 {
	font-family: Lato Black;
	color: white;	
}

.mainfooter{
	font-style: oblique;
	color: white;
	align-content: center;
	align-items: center;
	text-align: center;
	background-color: #254E58;
}
.reborneu{
	background-color: #60C4B8;
	align-content: center;
	text-align: center;
	color: black;
}

.lato2blue {
	font-family: Lato Black;
	color: white;	
	background-color: #112D32; 

}.img-thumbnail {
    margin-top: 10px;
}
.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}