@charset "utf-8";
/* CSS Document */
.texthome {
	width: 300;
	height: 400;
}
.btn-custom {
    width: 170px;
    font-family: lato black;
    background-color: #112D32;
    border-color: #000000;
}

body {
    background-image: url(../images/image1.jpg);
    max-width: 100%;
    overflow-x: hidden;
}
h1 {
    font-family: lato black;
    color: #FFFFFF;
    font-size: 47px;
}

p {
    font-family: lato;
    color: #FFFFFF;
    font-size: 20px;	
}
.footer-st {
    background-color: #112D32;
	width: 100%;
	height: 175px;
  	display: flex;
  	flex-direction: column;
 	 min-height: 100vh;
}

h3 {
	font-family: Lato Black;
	color: white;	
}

h2 {
	font-family: Lato Black;
	color: white;	
	text-align: center;
}
.lato2 {
	font-family: Lato Black;
	color: white;	
}
.lato {
    font-family: Lato;
    color: white;
    text-align: center;
	font-size: 10px;	
}
.site-content {
  flex: 1;
}