@charset "utf-8";
/* CSS Document */
.navbar-custom { 
    background-color: #112D32; 
} 
.navbar-nav a {
    font-family: lato black;
    font-size: large;
    color: #FFFFFF;
}
body {
    background-image: url(../images/image1.jpg);
	width: 100%;
	height: 100%;
	   max-width: 100%;
    overflow-x: hidden;
}

.title {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-image: url("../images/banner1.jpg");	
	font-family: Lato;
	color: white;
}

.helptitle {
	font-family: Lato Black;
	color: white;
}
.lato {
    font-family: Lato;
    color: white;
    text-align: center;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
h2 {
	font-family: Lato Black;
	color: white;	
	text-align: center;
}

.bg-cs1 {
    background-image: url(../images/image1.jpg);
    border-color: #FFFFFF;
    border-width: 46px;
}

.bg-cs2 {
    background-image: url(../images/image3.jpg);
}

.footer-st {
    background-color: #112D32;
	width: 100%;
	height: 150px;
}

h3 {
	font-family: Lato Black;
	color: white;	
}

.lato2 {
	font-family: Lato Black;
	color: white;	
}
.mainfooter{
	font-style: oblique;
	color: white;
	align-content: center;
	align-items: center;
	text-align: center;
	background-color: #254E58;
}
.reborneu{
	background-color: #60C4B8;
	align-content: center;
	text-align: center;
	color: black;
}